<div class="blog">
  <div class="container">
    <div class="leave">
      <h3>Update Commitee Member Data</h3>
        <%= form_for @commitee, :url => admin_commitee_path, :method => :put do |f| %>
          <%= render partial: 'form', locals: {f: f} %>
          <%= f.submit "Update Now"%>
        <% end %>
    </div>
  </div>
</div>
<!-- newsletter -->
