<div class="blog">
  <div class="container">
    <div class="leave">
      <h3>Update News</h3>
        <%= form_for @news, :url => admin_news_path, :method => :put do |f| %>
          <%= render partial: 'form', locals:{f: f}%>
          <%= f.submit "Update Now"%>
        <% end %>
    </div>
  </div>
</div>
<!-- newsletter -->
