<div class="row">
  <div class="col-md-2">
    <div id="profile-image">
      <%= cl_image_tag(@gallary.photo_url, :width => 50, :height => 150, :crop => :fill, :gravity => :face,:radius => :max, class: 'thumbnail')%>
      <br/>
      <div id="upload_button">
        <%= f.file_field :photo, class: "upload", onchange: "readURL(this);"%></br>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <%= f.text_field :name, placeholder: 'Name', required: true %>
    </div>
    <%= f.submit action %>
  </div>
</div>
