<div class="news">
  <div class="container">
    <h3>Gallary</h3>
      <% @gallary.each do |image| %>
        <div class="col-md-6">
          <div class="agileits_news_grid_left_gridl">
            <% photo_date = (image.photo_date || image.created_at) %>
            <p class="para1"><%= photo_date.day %><span><%= photo_date.strftime("%b-%Y")%></span></p>
          </div>
          <div class="agileits_news_grid_left_gridr">
            <div class="cus-img">
              <%= image_tag image.photo_url, class: "img-responsive"%>
            </div>
            <h4><%= link_to "#{image.name}", admin_gallary_path(image.id), class: 'btn btn-link' %></h4>
          </div>
          <div class="clearfix"> </div>
        </div><br/>
      <% end %>
  </div>
</div>
