<div class="blog">
  <div class="container">
    <div class="leave">
      <h3>Share Devarai's sweet memories</h3>
        <%= form_for @gallary, :url => admin_gallarys_path, :method => :post do |f| %>
          <%= render partial: 'form', locals:{f: f, action: 'Share Now'} %>
        <% end %>
    </div>
  </div>
</div>
<!-- newsletter -->
