<!-- Contact -->
<div class="aitscontactw3l" id="contact">
  <div class="container">
    <% if @home.present? %>
      <% if @home.content6_header.present? %>
        <h3><%= @home.content6_header %></h3>
      <% else %>
        <h3>Contact</h3>
      <% end %>
    <% else %>
      <h3>Contact</h3>
    <% end %>
      <div class="row">
        <div class="col-md-6 banner-text-w3ls">
          <h2>Mhaskewadi</h2>
          <p>ShivShikhar, Tal : Parner, Dist : Ahmednagar, Maharashtra, India</p>
          <p>414305</p>
        </div>
        <div class="col-md-6 banner-text-w3ls">
          <h2>Contact Person</h2>
          <p>Kiran Panmand</p>
          <p>(+91)-9766505024</p>
          <p>devrai@gmail.com</p>
        </div>
        <div class="clearfix"></div>
      </div>
  </div>
</div>
<!-- //Contact -->
