<!-- Contact -->
<div class="aitscontactw3l" id="contact">
  <div class="container">
    <h3>Contact</h3>
      <div class="row">
        <div class="col-md-6 pull-left banner-text-w3ls">
          <h2>Mhaskewadi</h2>
          <p>ShivShikhar, Tal : Parner, Dist : Ahmednagar, Maharashtra, India</p>
          <p>414305</p>
        </div>
        <div class="col-md-6 pull-right banner-text-w3ls">
          <h2>Contact Person</h2>
          <p>Kiran Panmand</p>
          <p>(+91)-9766505024</p>
          <p>devrai@gmail.com</p>
        </div>
        <div class="clearfix"></div>
      </div>
  </div>
</div>
<!-- //Contact -->
