<div class="clients" id="thoughts">
  <div class="container">
    <h3>Thoughts</h3>
    <div>
        <div>
          <article>
            <div class="banner-wrap">
              <div class="col-md-4 client-grids">
                <p>Devarai is one of the best project in Mhaskewadi and I am very thankful to maskewadi peoples for great work devrai. Team Sahyadri Devrai.</p>
                <div class="col-md-4 c-img">
                  <%= cl_image_tag('sayaji-shinde.jpg', :width => 90, :height => 90, :crop => :fill, :type=>'asset')%>
                </div>
                <div class="col-md-8 c-info">
                  <h4>Sayaji Shinde</h4>
                  <h5>Sahyadri Devrai</h5>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-md-4 client-grids">
                <p>Plantation is need of future, thanks to everyone who actively support for devrai. I know one day my villagers will create history.</p>
                <div class="col-md-4 c-img">
                  <img src="assets/default.png"  alt="" />
                </div>
                <div class="col-md-8 c-info">
                  <h4>Kiran Panmand</h4>
                  <h5>Sarpanch Mhaskewadi</h5>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-md-4 client-grids">
                <p>Hard work, dedication and passion is key of success. people who work with this 3 factor of life, will never lose. Thanks for support.</p>
                <div class="col-md-4 c-img">
                  <img src="assets/default.png"  alt="" />
                </div>
                <div class="col-md-8 c-info">
                  <h4>Pandurang Sonawane</h4>
                  <h5>Maharashtra Police</h5>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </article>
        </div>
      </div>
  </div>
</div>
