<div class="clients" id="thoughts">
  <div class="container">
    <h3>Thoughts</h3>
    <div>
        <div>
          <article>
            <div class="banner-wrap">
              <div class="col-md-4 client-grids">
                <p>Devarai is one of the best project. and Mhaskewadi peoples did great work for devrai. I have vision to create grenery all over maharashtra.</p>
                <div class="col-md-4 c-img">
                  <img src="assets/default.png"  alt="" />
                </div>
                <div class="col-md-8 c-info">
                  <h4>Sayaji Shinde</h4>
                  <h5>Founder</h5>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-md-4 client-grids">
                <p>Devarai is one of the best project. and Mhaskewadi peoples did great work for devrai. I have vision to create grenery all over maharashtra.</p>
                <div class="col-md-4 c-img">
                  <img src="assets/default.png"  alt="" />
                </div>
                <div class="col-md-8 c-info">
                  <h4>Pandurang Sonawane</h4>
                  <h5>Maharashtra Police</h5>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-md-4 client-grids">
                <p>Devarai is one of the best project. and Mhaskewadi peoples did great work for devrai. I have vision to create grenery all over maharashtra.</p>
                <div class="col-md-4 c-img">
                  <img src="assets/default.png"  alt="" />
                </div>
                <div class="col-md-8 c-info">
                  <h4>Kiran Panmand</h4>
                  <h5>Sarpanch Mhaskewadi</h5>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </article>
        </div>
      </div>
  </div>
</div>
