<div class="banner-btm-w3-agile" id="vision">
  <div class="container">
    <div class="col-md-6 banner-btm-right-w3ls">
      <div class="col-md-6 banner-btm-right-w3ls-one">
        <div class="gap">
          <div class="grid">
            <figure class="effect-apollo">
              <img src="assets/bb1.jpg" alt=" " />
            </figure>
          </div>
        </div>
        <div class="grid">
          <figure class="effect-apollo">
            <img src="assets/bb2.jpg" alt=" " />
          </figure>
        </div>
      </div>
      <div class="col-md-6 banner-btm-right-w3ls-two">
        <div class="gap">
          <div class="grid">
            <figure class="effect-apollo">
              <img  src="assets/bb3.jpg" alt=" " />
            </figure>
          </div>
        </div>
        <div class="grid">
          <figure class="effect-apollo">
            <img src="assets/bb4.jpg" alt=" " />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-6 banner-btm-left-w3ls">
      <h3>Vision</h3>
      <h4>What we are doing</h4>
       <p>We are planning to make our ShivShikhar more greener day by day and also contribute in Hon. Sayaji Shinde's Sahyadri Devrai dream. We have a planning to do tree plantation every year.</p>
       <p class="w3layouts">With the help of villagers support and donation we have a plan to developed ShivShikhar area and trying to make one of the best place in Ahmednagar district. We have a passionate people around us so one day we will definitely achieve our milestone. Nothing is possible if you have great work to do.</p>
       <a href="single.html">View More</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
