<div class="works" id="works">
  <div class="container">
    <div class="col-md-8 work-left">
      <div class="work-left-top">
        <div class="col-md-8  work-left-top-left">
          <div class="first-img">
            <div class="view second-effect">
              <a class="cm-overlay" href="assets/g1.jpg">
                <img src="assets/g1.jpg" alt=" " />
                <div class="mask">

                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 work-left-top-right">
          <div class="second-img">
            <div class="view second-effect">
              <a class="cm-overlay" href="assets/g2.jpg">
                <img src="assets/g2.jpg" alt=" " />
                <div class="mask">

                </div>
              </a>
            </div>
          </div>
          <div class="third-img">
            <div class="view second-effect">
              <a class="cm-overlay" href="assets/g3.jpg">
                <img src="assets/g3.jpg" alt=" " />
                <div class="mask">

                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4 work-right">
      <h3>Works</h3>
      <p>We had planted 10,000 different trees at ShivShikhar. ShivSagar pond is life of our Devrai.</p>
      <div class="col-md-6 work-right-left">
        <div class="seventh-img">
            <div class="view second-effect">
              <a class="cm-overlay" href="assets/g7.jpg">
                <img src="assets/g7.jpg" alt=" " />
                <div class="mask">

                </div>
              </a>
            </div>
        </div>
        <div class="eighth-img">
            <div class="view second-effect">
              <a class="cm-overlay" href="assets/g8.jpg">
                <img src="assets/g8.jpg" alt=" " />
                <div class="mask">

                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="col-md-6 work-right-right">
        <div class="ninth-img">
            <div class="view second-effect">
              <a class="cm-overlay" href="assets/g9.jpg">
                <img src="assets/g9.jpg" alt=" " />
                <div class="mask">

                </div>
              </a>
            </div>
        </div>
        <div class="tenth-img">
            <div class="view second-effect">
              <a class="cm-overlay" href="assets/g10.jpg">
                <img src="assets/g10.jpg" alt=" " />
                <div class="mask">

                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
