<div class="blog">
  <div class="container">
    <div class="leave">
      <h3>Admin Menu</h3>
      <%= link_to "Add Photos", new_admin_gallary_path, class: "btn btn-default" %>
      <%= link_to "Add Commitee Members", new_admin_commitee_path, class: "btn btn-default" %>
      <%= link_to "Add Devrai New's", new_admin_news_path, class: "btn btn-default" %>
    </div>
    <h3>Recent activity in admin panel</h3>
  </div>
</div>
<!-- newsletter -->
