  <!-- Footer -->
  <div class="footer">
    <div class="container">

      <div class="agilefooter-top">
        <!-- Quick-Links -->
        <div class="col-md-8 agilefootergrid footer-nav">
          <ul>
              <li class="active"><%= link_to "Home", root_path %></li>
              <li><a href="#vision" class="scroll"><span data-hover="Vision">Vision</span></a></li>
              <li><a href="#works" class="scroll"><span data-hover="Works">Our Works</span></a></li>
              <li><a href="#thoughts" class="scroll"><span data-hover="Clients">Thoughts</span></a></li>
              <li><a href="#contact" class="scroll"><span data-hover="Contact">Contact</span></a></li>
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <li><%= link_to 'Admin Panel', admin_path %></li>
                <% end %>
                <li><%= link_to 'Logout', logout_path %></li>
              <% else %>
                <li><%= link_to 'Login', new_user_session_path %></li>
              <% end %>
          </ul>
        </div>
        <!-- //Quick-Links -->

        <!-- Newsletter -->
        <div class="col-md-4 social-icons">
          <ul>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <!-- //Newsletter -->
      <div class="clearfix"></div>
      </div>

      <div class="agilefooter-bottom">
        <p>&copy; 2017 Plantation. All Rights Reserved | Design by <b>ShreeCreation's</b> </a></p>
      </div>
    </div>

  </div>
  <!-- //Footer -->
