<div class="header-bottom-w3">
  <div class="container">
    <div class="col-md-4 logo-agileits">
      <a href="/"><h1>SHIVSHIKHAR DEVRAI</h1></a>
    </div>
    <div class="col-md-8 call-mail-agileinfo">
      <div class="call">
        <h4>For Donation Call</h4>
        <h3>+91-9766505024</h3>
      </div>
      <div class="mail">
        <h4>Mail us</h4>
        <h3><a href="mailto:info@example.com">devrai@gmail.com</a></h3>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<% if sub_header %>
  <div class="sub-banner">
  </div>
<% end %>
