<div class="blog">
  <div class="container">
    <div class="leave">
      <h3>Registration</h3>
        <%= form_for @member, :url => members_path, :method => :post do |f| %>
          <%= render :partial=>'form', locals:{f: f} %>
          <%= f.submit "Register Yourself" %>
        <% end %>
    </div>
  </div>
</div>
